
<footer class="page-footer font-small text-white">
  <div class="text-center py-3 first-section" >
      <a href="#" class="small footer-text" >Back to Top</a>
  </div>
  <div class="shadow second-section" >
    <div class="row d-flex justify-content-center py-4">
      <div class="col-md-2">
        <a href="#" class="small footer-text" >Get to know us</a><br>
        <a href="#" class="small footer-text" >About us</a><br>
        <a href="#" class="small footer-text" >Careers</a><br>
        <a href="#" class="small footer-text" >Press Release</a><br>
        <a href="#" class="small footer-text" >KingsMart Cares</a><br>
        <a href="#" class="small footer-text" >Gift a Smile</a><br>
      </div>
      <div class="col-md-2">
        <a href="#" class="small footer-text" >Connect With us</a><br>
        <a href="#" class="small footer-text" >Facebook</a><br>
        <a href="#" class="small footer-text" >Twitter</a><br>
        <a href="#" class="small footer-text" >Instagram</a><br>
      </div>
      <div class="col-md-2">
        <a href="#" class="small footer-text" >Make money with us</a><br>
        <a href="#" class="small footer-text" >Sell on Kingsmart</a><br>
        <a href="#" class="small footer-text" >Sell under Kingsmart accelerator</a><br>
        <a href="#" class="small footer-text" >Become an Affiliate</a><br>
        <a href="#" class="small footer-text" >Advertise your Products</a><br>
        <a href="#" class="small footer-text" >Merchants</a><br>
      </div>
      <div class="col-md-2">
        <a href="#" class="small footer-text" >Let us help you</a><br>
        <a href="#" class="small footer-text" >Covid and Kingslap</a><br>
        <a href="#" class="small footer-text" >Your Account</a><br>
        <a href="#" class="small footer-text" >Returns Centre</a><br>
        <a href="#" class="small footer-text" >100% Purchase Protection</a><br>
        <a href="#" class="small footer-text" >App Download</a><br>
        <a href="#" class="small footer-text" >Help</a><br>
      </div>
    </div>
  </div>
  <div class="text-center py-3 third-section" >
    <div class="row d-flex justify-content-center">
      <div class="col-sm-1 px-0 mx-0"><h6 class="">KingsMart.com</h6></div>
      <div class="col-sm-1 mx-0"><p style="border : 1px solid white" class="f-left small">English</p></div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-2 px-o"><p class="small">Conditions of Use & Sale</p></div>
      <div class="col-md-1 px-0 mx-0"><p class="small">Privacy Notice</p></div>
      <div class="col-md-1 px-0"><p class="small">Interest Based Ads</p></div>
      <div class="col-md-3 px-0"><p class="small">Copyright 1996-2020, KingsMart.com, Inc or its affiliates</p></div>
    </div>
  </div>
</footer>