
  <header>

    <nav class="navbar navbar-light bg">
      <a class="navbar-brand">KingsMart</a>
      <form class="form-inline">
        <input class="form-control" type="search" placeholder="Search essentials , groceries and more..."
          aria-label="Search" size="60" /><button type="submit"><i class="fa fa-search"></i></button>
        <p class="my-2 my-sm-2 p-1" type="submit"> Search with list</p>
      </form>
      <p class="my-2 my-sm-0"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</p>
      <p class="my-2 my-sm-0"><i class="fa fa-user" aria-hidden="true"></i> Sign in</p>
      <p class="my-2 my-sm-0">More</p>
      <p></p>
    </nav>

    <nav class="navbar navbar-light bg" style="background-color: #a1968c;">
      <i class="fa fa-map-marker" style="color: black; font-size: 24px;"></i><a class="head" style="color: black;">
        Delivering to <br /> 751006</a>
      <div class="my-2 my-sm-0 head">
      <div class="dropdown show">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          All Categories <i class="arrow down"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      </div>
      <div class="my-2 my-sm-0 head">
      <div class="dropdown show">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Fruits & Vegetables <i class="arrow down"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      </div>
      <div class="my-2 my-sm-0 head">
      <div class="dropdown show">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Dairy & Bakery <i class="arrow down"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      </div>
      <div class="my-2 my-sm-0 head">
      <div class="dropdown show">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Staples <i class="arrow down"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      </div>
      <div class="my-2 my-sm-0 head">
      <div class="dropdown show">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Snacks & Branded Foods <i class="arrow down"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      </div>
      <div class="my-2 my-sm-0 head">
      <div class="dropdown show">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Beverages <i class="arrow down"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      </div>
      <div class="my-2 my-sm-0 head">
      <div class="dropdown show">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Personal Care <i class="arrow down"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      </div>
      <div class="my-2 my-sm-0 head">
      <div class="dropdown show">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Home Care <i class="arrow down"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      </div>
      <div class="my-2 my-sm-0 head">
      <div class="dropdown show">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Baby Care <i class="arrow down"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      </div>
      <div class="my-2 my-sm-0 head">
      <div class="dropdown show">
        <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Covid Essentials <i class="arrow down"></i>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      </div>

      <p></p>
    </nav>

  </header>